@import "../../global/base.scss";
#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;
    aside {
        flex: 7;
        background: $purple;
        color: $white90;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 120px 80px;
        img {
            max-width: 328px;
        }
        strong {
            font: 700 2rem "Poppins", sans-serif;
            line-height: 42px;
            margin-top: 16px;
        }
        p {
            font-size: 1.3rem;
            line-height: 32px;
            margin-top: 16px;
            color: $white100;
        }
    }
    main {
        flex: 8;
        padding: 0 32px;
        display: flex;
        justify-content: center;
    }
    .main-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;
        >img {
            align-self: center;
        }
        form {
            input {
                height: 58px;
                border-radius: 8px;
                padding: 0 16px;
                background: $white90;
                border: 1px solid $gray100
            }
            button {
                margin-top: 16px;
            }
            button,
            input {
                width: 100%;
            }
        }
    }
    .create-room {
        margin-top: 64px;
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        background: $redGoogle;
        color: $white90;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0;
        transition: 0.2s;
        &:hover {
            filter: brightness(1.1)
        }
    }
    .separator {
        font-size: 1rem;
        color: $gray100;
        margin: 32px 0;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            flex: 1;
            height: 1px;
            background: $gray100;
            margin-right: 16px;
        }
        &::after {
            content: "";
            flex: 1;
            height: 1px;
            background: $gray100;
            margin-left: 16px;
        }
    }
}